@import url("//db.onlinewebfonts.com/c/7d460b18433753a097e5bc2bad7c8dd9?family=Norse");

@font-face {font-family: "Norse"; src: url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot"); src: url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff") format("woff"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.svg#Norse") format("svg"); }


body{
    left: 0;
    top: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(214, 214, 214);
}

.font-logo{
    font-family: "Norse";
    font-size: 64px;
    color: #ffffff;

}

.back-image{
    background-image: url("images/rainyday.jpg");
    background-size: cover;
}

.main-container{
    display: flex;
    left: 0;
    top: 0;
}

.left-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    margin: 0;
    width: 30%;
    height: 100vh;
    
}

.odin-logo{
    align-content: center;
    height: 150px;
    width: auto;
}

.left-banner-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(17, 17, 17, 0.45);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 180px;
    margin-bottom: 60px;
    
}

.footer_left{
    
    color: #fff;
    font-size: 14px;
}

.footer_left a{
    color: #fff;
}

.footer_left a:hover{
    text-decoration: none;
}

.footer_left a:visited{
    color: #fff;
}

.text_footer{
    margin-top: 300px;
}

h2{
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5rem;
    margin-top: 100px;
    padding-left: 30px;
}

p{
    font-size: 22px;
    margin-top: 30px;
    font-weight: 500;
    padding-left: 30px;
}


.italic_text{
    font-style: italic;
}


.main-form{
    margin-top: 30px;
    padding: 30px 0 30px 30px;
}

form{
    background-color: #fff;
    box-shadow: 5px 1px 5px #222;
}

.title_form{
    font-size: 22px;
    font-weight: 500;

}

.name_form{
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.flex_column{
    display: flex;
    flex-direction: column;
}



.input_length{
    width: 250px;
    height: 24px;
    border-radius: 5px;
    border: 1px solid #E5E7EB;
}

.input_length:hover{
   border:1px solid rgb(34, 67, 248);
}

.input_length:focus{
    outline: none !important;
    border:1px solid rgb(34, 67, 248);
    box-shadow: 0 0 10px #719ECE;
}

.input_length:valid{
    outline: none !important;
    border:1px solid green;
    
}

.error{
    outline: none ;
    border:1px solid red
}

.email_number_form{
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.passwords{
    margin-top: 20px;
    display: flex;
    gap: 50px;
}

.create_account{
    margin-top: 40px;
    border-radius: 5px;
    height: 38px;
    width: 250px;
    border: none;
    background-color: rgb(88, 109, 139);
    font-weight: 500;
    box-shadow: 5px 5px 5px #222;
}

.create_account:hover{
    background-color: rgb(27, 27, 46);
    color: #fff;
}

.footer{
    left: 0;
    top: 0;
 
}

.footer_para{
    left: 0;
    top: 0;
    font-size: 16px;
}

a{
    color:rgb(88, 109, 139);
    font-weight: 500;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}